<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>GFA Warehouse</title>
</head>
<body>
<h1>Green Fox Fashion Web Store</h1>

<form action="/select" method="get">
    <select name="itemName" >
    <option th:each="item : ${distinctItem}" th:text="${item}"></option>
    </select>
    <select name="size" >
        <option th:each="size : ${distinctSize}" th:text="${size}"></option>
    </select>
    <input type="text" name="quantity"/>
    <button type="submit" value="Submit">Add</button>
</form>

<p th:text="${check}"></p>
<p th:text="${size}"></p>

<!--<td><form action="#" th:action="@{/select}" th:object="${editedToDo}" method="post">
    <select th:field="*{assignee}">

    </select>
</form>-->

<table>
    <tr>
        <th>Item Name</th>
        <th>Manufacturer</th>
        <th>Category</th>
        <th>Size</th>
        <th>Price</th>
    </tr>
    <tr th:each="item : ${items}">
        <td th:text="${item.getItemName()}"></td>
<!--        <td><a th:href="@{'/search/{brand}'(brand=${plate.getCarBrand()})}" th:text="${plate.getCarBrand()}"></a></td>-->
        <td th:text="${item.getManufacturer()}"></td>
        <td th:text="${item.getCategory()}"></td>
        <td th:text="${item.getSize()}"></td>
        <td th:text="${item.getUnitPrice()}"></td>
<!--        <td><a th:href="@{'/{id}/edit'(id=${plate.getPlate()})}">Edit</a></td>-->
    </tr>
</table>

<!--<tr th:each="item : ${distinctItem}">
    <td th:text="${item}"></td>
</tr>-->

<tr th:each="item : ${itemSelected}">
    <td th:text="${item.getItemName()}"></td>
    <!--        <td><a th:href="@{'/search/{brand}'(brand=${plate.getCarBrand()})}" th:text="${plate.getCarBrand()}"></a></td>-->
    <td th:text="${item.getManufacturer()}"></td>
    <td th:text="${item.getCategory()}"></td>
    <td th:text="${item.getSize()}"></td>
    <td th:text="${item.getUnitPrice()}"></td>
    <!--        <td><a th:href="@{'/{id}/edit'(id=${plate.getPlate()})}">Edit</a></td>-->
</tr>

</body>
</html>